.search-container {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display:flex;
  }
  
  form {
    display: flex;
    align-items: center;
  }
  
  label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .results-container {
    margin-top: 20px;
    display: none; /* Hide the container by default */
  }
  
  .restaurant-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .restaurant-list li {
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  
  